body,html{
    margin: 0px;
    padding: 0px;
}

.container {
    content: "";
    z-index: -1;
    position: absolute;
    padding: 20px;
    height: 95vh;
    width: 100vw;
    background-size: 100% auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    opacity: 0.8;
    border-radius: 0.3rem;
    flex-direction: column;
    

}

.maincontainer{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}
.leftcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    height: 80vh;
    width: 65vh;
    
    z-index: -1;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    background-image: url("/signup_images/signup05.jpg");
    background-size: 100% auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit:fill;
    opacity: 0.9;
    filter: grayscale(40%);
    

}

.rightcontainer{
    margin-top: 4rem;
    height: 80vh;
    width: 65vh;
    background-color: rgb(218, 218, 218);
    border-radius: 0rem 0.5rem 0.5rem 0rem;
   
    z-index: -1;
}


